.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}
.links {
  display: flex;
  gap: 2rem;
}
.links a {
  text-decoration: none;
  color: black;
}
.signInBtn {
  border: 1px solid black;
  border-radius: 999px;
  padding: 0.9rem 1.5rem;
  background: white;
  cursor: pointer;
  font-size: 13;
}

.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  padding: 3rem 2rem 0;
}
.heroTitle {
  font-size: 9rem;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
  max-width: 60%;
  margin-top: 210px;
  margin-left: -5px;
}
.heroAside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  max-width: 340px;
  flex-shrink: 0;
}
.heroPhoto {
  border-radius: 15px;
  margin-bottom: 110px;
  margin-top: -50px;
  object-fit: cover;
  width: 75%;
  height: 350;
}
.heroBlurb {
  text-align: right;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0;
}

.logoWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.logoWrapper img {
  object-fit: contain;
  width: unset !important;
  height: 48px !important;
  border-radius: 50;
}
